body {
    background-color:  lightgray;
}
ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

.node {
    cursor: pointer;
    color: #0645AD;
}

    .node:hover {
        text-decoration: underline;
    }

.images img {
    max-width: 200px;
    display: block;
    margin: 5px 0;
}

.hidden {
    display: none;
}
